<form class="ui form" {{action "save" on="submit"}}>
  <div class="field">
    <label>Title</label>
    {{input value=model.title}}
  </div>
  <div class="field">
    <label>Message</label>
      {{input value=model.message}}
    <span class="error">
      {{error}}
    </span>
    <span class="characterCount">
      {{characterCount}}
    </span>
  </div>
  <div class="ui large buttons">
      <button class="ui button green">Save</button>
    <div class="or"></div>
    <button {{action "cancel"}} class="ui button red">Cancel</button>
  </div>
</form>
